---
# Configuración de servidor web
- name: Instalar Nginx
  apt:
    name: nginx
    state: present
    update_cache: true

- name: Asegurar que Nginx está en ejecución
  service:
    name: nginx
    state: started
    enabled: true

